<nav *ngIf="isAuthenticated$ | async" class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">

  <span class="navbar-brand">Tour of Heroes</span>

  <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed" type="button" data-toggle="collapse"
          data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [class.collapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <button class="nav-link active btn btn-link" routerLink="">Home</button>
      </li>

      <li class="nav-item">
        <button class="nav-link active btn btn-link" routerLink="/heroes">Heroes</button>
      </li>

      <li class="nav-item">
        <button class="nav-link active btn btn-link" routerLink="/hero-create">Add Hero</button>
      </li>

      <li class="nav-item">
        <button class="nav-link active btn btn-link" (click)="onLogout()" *ngIf="isAuthenticated$ | async">Logout
        </button>
      </li>
    </ul>

    <span class="navbar-text">{{ authService.username }}</span>
  </div>
</nav>
