<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Tour of Heroes</h1>
  </div>

  <h3>Login</h3>

  <div class="input-group mb-3">
    <input type="text" class="form-control" aria-describedby="inputGroup-sizing-default" placeholder="username" [(ngModel)]="username">
  </div>

  <div class="input-group mb-3">
    <input type="password" class="form-control" aria-describedby="inputGroup-sizing-default" placeholder="password" [(ngModel)]="password">
  </div>

  <div style="margin-top: 20px">
    <button type="button" class="btn btn-primary" (click)="login();">Log in</button>
  </div>
</div>
