<h3>Login {{authUser.session_id}}</h3>

<div class="input-group mb-3">
  <input type="text" #username class="form-control" aria-describedby="inputGroup-sizing-default" placeholder="username">
</div>

<div class="input-group mb-3">
  <input type="password" #password class="form-control" aria-describedby="inputGroup-sizing-default"
         placeholder="password">
</div>

<div style="margin-top: 20px">
  <button type="button" class="btn btn-primary" (click)="login(username.value, password.value);">Log in</button>
</div>
