<h3>Heroes</h3>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Age</th>
    <th scope="col">Updated</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let hero of heroes">
    <td>
      <a routerLink="/hero-detail/{{hero._id}}"
         [class.active]="hero === selectedHero"
         (click)="onSelect(hero);">
        {{ hero.name }}
      </a>
    </td>
    <td>{{ hero.age }}</td>
    <td>{{ hero.updated | date: 'dd/MM/yyyy' }}</td>
  </tr>
  </tbody>
</table>
